HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
/sentinel-dashboard-1.7.2.jar
/quark-auth/auth-server/target/classes/authserver/config/OAuth2ServerConfig$AuthorizationServerConfiguration.class
/quark-auth/auth-server/target/classes/authserver/config/OAuth2ServerConfig$ResourceServerConfiguration.class
/quark-auth/auth-server/target/classes/authserver/config/OAuth2ServerConfig.class
/quark-auth/auth-server/target/classes/authserver/AuthServerApplication.class
/quark-demo/quark-demo-consumer/target/classes/com/quark/demo/provider/controller/TestConsumerController.class
/quark-demo/quark-demo-consumer/target/classes/com/quark/demo/provider/DemoConsumerApplication$RestTemplateConfiguration.class
/quark-demo/quark-demo-consumer/target/classes/com/quark/demo/provider/DemoConsumerApplication.class
/quark-demo/quark-demo-consumer/target/classes/bootstrap.yml
/quark-demo/quark-demo-consumer/target/classes/bootstrap-dev.yml
/quark-demo/quark-demo-consumer/target/classes/bootstrap-uat.yml
/quark-demo/quark-demo-provider/target/classes/com/quark/demo/provider/controller/TestProviderController.class
/quark-demo/quark-demo-provider/target/classes/com/quark/demo/provider/DemoProviderApplication.class
/quark-demo/quark-demo-provider/target/classes/bootstrap.yml
/quark-demo/quark-demo-provider/target/classes/bootstrap-dev.yml
/quark-demo/quark-demo-provider/target/classes/bootstrap-uat.yml
/quark-gateway/target/classes/com/quark/gateway/GatewayApplication.class
/quark-gateway/target/classes/application.yml
/quark-gateway/target/classes/banner.txt
/quark-gateway/target/classes/bootstrap.yml
